/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url("/Img/kuromifondo.jpg");
    background-repeat: repeat;
}

h1 {
    text-align: center;
    margin: 20px;
}

section {
    text-align: center;
    padding: 20px;
}

/* Estilos para la sección de imágenes */
.Imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre imágenes */
}

.Imagenes img {
    min-width: 250px;
    min-height: fit-content;
    max-width: 250px;
    max-height: fit-content; /* Cambia el ancho máximo deseado para hacer las imágenes más pequeñas */
    height: auto;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para la sección de videos */
.Videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre videos */
}

.Videos video {
    max-width: 100%;
    height: auto;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para el encabezado */
header {
    background-color:#ff69b4;
    ;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Media Queries para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .Imagenes img,
    .Videos video {
        max-width: 45%; /* Reduce el ancho de las imágenes y videos en pantallas pequeñas */
        margin: 5px;
    }
}

/* Media Queries para dispositivos aún más pequeños */
@media screen and (max-width: 480px) {
    .Imagenes img,
    .Videos video {
        max-width: 100%; /* Haz que las imágenes y videos ocupen todo el ancho en pantallas muy pequeñas */
        margin: 5px;
    }
}

/* Estilos para pantallas de escritorio */
@media screen and (min-width: 1024px) {
    .Imagenes {
        gap: 30px; /* Aumenta el espacio entre imágenes en pantallas grandes */
    }

    .Videos {
        gap: 30px; /* Aumenta el espacio entre videos en pantallas grandes */
    }
}
