/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background-image: url("/Img/kuromifondo.jpg");
    background-repeat: repeat;
}

.header {
    background-color: #ff69b4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.nav {
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav a {
    color: #ff69b4;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    text-align: center;
}

.message {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.message p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4081;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 28px;
    }

    .nav a {
        font-size: 16px;
    }

    .message p {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .header h1 {
        font-size: 24px;
    }

    .nav {
        padding: 5px 0;
    }

    .nav a {
        font-size: 14px;
    }

    .message p {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
